body {
    margin: 0;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
}

html {
    margin: 0;
    padding: 0;
    background-color: #001F3F;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
  }

.nama {
    color: #EAD8B1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 50px;
    top: 240px;
    text-align: center;
    position: relative;
    background-color:#3A6D8C;
}

.deskripsi {
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 200px;
}

.rounded-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0% 15%;
    position: relative;
    top: 250px;
    z-index: 100;
}

.menu-navigasi {
    display: flex;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);;
    padding: 0;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.menu-navigasi * {
    opacity: 1;
}

.link-navigasi {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    margin-right: 10%; 
    /* Setting margin */
}

.link-navigasi li {
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link-navigasi li a {
    padding: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;;
}

.link-navigasi li a:hover {
    background-color: #3A6D8C;
    color: #EAD8B1;
    border: none;
}
/* On Progress */
/* Setting .galery biar bisa ketarik ke tengah */
.galery {
    width: 60px;
    height: 60px;
    margin-left: 10%;
}
